sudo: 'required'

services:
  - 'docker'

language:
  - 'bash'

env:
    global:
      - QEMU_VERSION=v2.12.0
    matrix:
      - BUILD_FROM=amd64/alpine:3.7
      - BUILD_FROM=arm32v6/alpine:3.7
      - BUILD_FROM=arm64v8/alpine:3.7

before_install:
    - mkdir tmp
    - ./.docker/docker.sh prepare

jobs:
    - stage: push
      script: echo "Pushing docker images."
