sudo: 'required'

services:
  - 'docker'

language:
  - 'bash'

env:
    global:
      - TARGET=raymondmm/test-rep
      - QEMU_VERSION=v2.12.0
    matrix:
      - BUILD_FROM=amd64/alpine:3.7 QEMU_ARCH=x86_64 OS_ARCH=alpine-amd64
      - BUILD_FROM=arm32v6/alpine:3.7 QEMU_ARCH=arm OS_ARCH=alpine-arm32v6
      - BUILD_FROM=arm64v8/alpine:3.7 QEMU_ARCH=aarch64 OS_ARCH=alpine-arm64v8

before_install:
    - mkdir tmp
    - ./.docker/docker.sh prepare

install: true

before_script:
    # Set BUILD_VERSION
    - if [ ! -z "$TRAVIS_TAG" ]; then export BUILD_VERSION=$TRAVIS_TAG; else export BUILD_VERSION=$TRAVIS_BRANCH; fi

script:
    # Build Docker image
    - docker build --build-arg BUILD_FROM=${BUILD_FROM} --build-arg QEMU_ARCH=${QEMU_ARCH} --file ./.docker/Dockerfile --tag ${TARGET}:build-${OS_ARCH} .
    # Test Docker image
    - docker run -d --rm --name=test-${OS_ARCH} ${TARGET}:build-${OS_ARCH}
    # Tag Docker image
    - docker tag ${TARGET}:build-${OS_ARCH} $TARGET:${BUILD_VERSION}-${OS_ARCH}

after_script:
    # Push Docker images to Docker Hub
    # Docker Login
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
    # Push all images
    - docker push ${TARGET}:${BUILD_VERSION}-${OS_ARCH}
    # Create and push manifest list
    #- ./.docker/docker.sh manifest-list
    # Docker Logout
    #- docker logout

jobs:
  include:
    - stage: push
      script:
        - echo "Pushing docker images."
        - docker manifest
        - docker image ls
      after_script:
