sudo: 'required'

services:
  - 'docker'

language:
  - 'bash'

env:
  - BUILD_FROM=amd64/alpine:3.7
  - BUILD_FROM=arm32v6/alpine:3.7
  - BUILD_FROM=arm64v8/alpine:3.7

before_install:
    - > mkdir tmp
    - > echo "PREPARE: Setting up dependencies."
    - > sudo apt update -y
    # sudo apt install realpath python python-pip -y
    - > sudo apt install --only-upgrade docker-ce -y

jobs:
    - stage: push
      script: echo "Pushing docker images."
