sudo: 'required'

services:
  - 'docker'

language:
  - 'bash'

env:
  - BUILD_FROM=amd64/alpine:3.7
  - BUILD_FROM=arm32v6/alpine:3.7
  - BUILD_FROM=arm64v8/alpine:3.7

before_install:
    - >
        mkdir tmp &&
        echo "PREPARE:" &&
        sudo apt update -y &&
        sudo apt install --only-upgrade docker-ce -y &&
        echo "PREPARE: Updating docker configuration" &&
        mkdir $HOME/.docker &&
    - docker manifest
jobs:
    - stage: push
      script: echo "Pushing docker images."


"PREPARE: Setting up dependencies."
